header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background-color: #474746;
    min-height: 20dvh;
}

header .logo{
    position: absolute;
    border: 1px solid;
}

header nav{
    margin-left: auto;
    width: 60%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

header a{
    padding: 2px;
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
    text-decoration: none;
    color: white;
}