main{
    min-height: 60dvh;
    padding: 10px;
}

main h1{
    text-align: center;
}

main section{
    min-height: 75dvh;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}