*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  border: 1px solid black;
}
header .nav-logo{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .navbar-collapse{
  padding: 0 20px 10px 20px;
}