*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .nav-logo{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
header .logo{
  width: 75px;
}
header .navbar-collapse{
  padding: 0 20px 10px 20px;
}